*{
    padding: 0;
    margin: 0;
}

.bkc{
    background-color: $color;
}
body, .bg{
    background-color: $fondo;
}

@mixin size ($width, $height){
    width: $width;
    height: $height;
}

.logo{
    @include size (100px, 100px);
    border-radius: $logo/2;
}

.letras{
    padding: 5px;
    margin: 5px;
    font-family:'Poppins', sans-serif;
    font-size: 20px;
    text-align: justify;
    text-transform: initial;
    line-height: 50px;
}

.titulo{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    text-align: center;
    text-transform: initial;
    letter-spacing: 2px;
    padding: 10px;
    background-color:rgb(125, 110, 131);
    color:white ;
}