*{
    padding: 0;
    margin: 0;
}

.bkc{
    background-color:rgb(125, 110, 131);
}
body, .bg{
    background-color: rgb(248, 237, 227);
}

.logo{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}