.imagenes{
    display: grid;
    grid-template-columns: 1fr;
    margin: 10px;
    .imagen{
        width: ($ancho/2)-50px;
        height: 250px;
        padding: 10px;
        border: 6px double rgb(125, 110, 131);
        border-radius: 10px;
        margin: 10px;
    }
}

footer{
    padding: 10px;
    margin: 40px 20px 40px 20px;
    .icon{
        width: 70px;
        height: 70px;
    }
}