.imagenes{
    display: grid;
    grid-template-columns: 1fr;
    margin: 10px;
    .imagen{
        width: ($ancho/2)-50px;
        height: 250px;
        padding: 10px;
        box-shadow: 15px 15px 20px rgb(125, 110, 131);
        margin: 10px;
    }
}

footer{
    padding: 10px;
    margin: 20px;
    .icon{
        width: 70px;
        height: 70px;
    }
}