@import "variablesglobales";
@import "fuentes";
@import "generales";
@import "generales";
@import "nesting";

.titulos{
    grid-area: titulos;
}
.letras{
    grid-area: letras;
}
.imagenes{
    grid-area: imagenes;
}
footer{
    grid-area: footer;
}
.texto{
    grid-area: texto;
}

.cuerpo{
    display: grid;
    grid-template-areas: 
    "titulos"
    "letras"
    "imagenes"
    "footer";
}

@media(min-width:576px){
    .cuerpo{
        display: grid;
        grid-template-areas: 
        "titulos  titulos"
        "letras   imagenes"
        "footer   footer";
        gap: 10px;
        grid-template-columns: 1fr 1fr;
    }
    
    .imagen{
        width: 250px;
        height: 300px;
    }
    footer{
        display: flex;
        justify-content: space-between;
    }
}

@media(min-width:770px){
    .cuerpo{
        display: grid;
        grid-template-areas: 
        "titulos  titulos   titulos"
        "letras   letras    imagenes"
        "footer   footer    footer";
        gap: 10px;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .imagen{
        width: 300px;
        height: 350px;
    }
}

@media(min-width:1024px){
    .cuerpo{
        display: grid;
        grid-template-areas: 
        "titulos titulos   titulos"
        "letras  letras    imagenes"
        "footer  footer    footer";
        gap: 10px;
        grid-template-columns: 1fr 1fr;
    }
    .imagen{
        width: 200px;
        height: 200px;
    }
}